<section
  data-section-type="iframe-video"
  data-section-id="{{ section.id }}"
>
  <div class="
      container
      {% if section.settings.enable_full_width %}
      w-full
      max-w-none
      px-0
      {% else %}
      max-w-screen-3xl
      {% endif %}
    ">
    <div class="
        relative
        flex
        h-0
        justify-center
        overflow-hidden
        {% if section.settings.ratio == "4:3" %}
        pt-[75%]
        {% else %}
        pt-[56.25%]
        {% endif %}
      ">
      <div class="
          absolute
          left-0
          top-0
          h-full
          w-full
          overflow-hidden
        ">
        {% if section.blocks.size > 0 %}
          <div class="
              absolute
              inset-0
              z-3
              flex
              items-center
              justify-center
              p-8
              text-center
              {{ section.settings.text_color }}
            ">
            <div class="container max-w-screen-3xl">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'title' %}
                    <h2
                      class="mb-2 font-heading text-h2 last:mb-0 md:mb-3 lg:text-h2-desktop"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.title }}
                    </h2>
                  {% when 'subheading' %}
                    <div
                      class="mb-2 last:mb-0 md:mb-4"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.subheading }}
                    </div>
                  {% when 'button' %}
                    {% if block.settings.button_link != blank and block.settings.button_label != blank %}
                      {%
                        render 'button',
                        href: block.settings.button_link,
                        class: 'mb-2 md:mb-4 last:mb-0',
                        color: 'primary',
                        size: 'md',
                        text: block.settings.button_label
                      %}
                    {% endif %}
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        {% else %}
          {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div
          class="media-block"
          data-video-type="{{ section.settings.video.type }}"
        >
          <div
            id="player-{{ section.id }}"
            data-plyr-provider="{{ section.settings.video.type }}"
            data-plyr-embed-id="{{ section.settings.video.id }}"
            data-ratio="{{ section.settings.ratio }}"
          ></div>
        </div>
        {% if section.settings.enable_overlay and section.blocks.size > 0 %}
          <div class="
              pointer-events-none
              absolute
              left-0
              top-0
              z-2
              h-full
              w-full
              bg-black
              opacity-20
            ">
            <div class="sr-only">Overlay</div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% style %}
  [data-section-id="{{ section.id }}"] {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Iframe video",
  "settings": [
    {
      "type": "video_url",
      "label": "Video URL",
      "id": "video",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "select",
      "id": "ratio",
      "label": "Ratio",
      "default": "16:9",
      "options": [
        {
          "value": "16:9",
          "label": "16:9"
        },
        {
          "value": "4:3",
          "label": "4:3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_overlay",
      "label": "Darken video",
      "default": true,
      "info": "(overlay, will be used when text overlay exist)"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-base-body",
      "options": [
        {
          "value": "text-base-body",
          "label": "Body text color"
        },
        {
          "value": "text-white",
          "label": "White"
        },
        {
          "value": "text-black",
          "label": "Black"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading",
      "info": "Mobile screen uses 75% of selected value"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "info": "Button is disabled if empty"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Iframe video",
      "category": "Video",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "subheading"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
