<section class="py-10">
  <div class="container max-w-screen-3xl">
    <div class="mb-10 text-center [&>*:last-child]:mb-0">
      <h1 class="font-heading text-h2 lg:text-h2-desktop">{{ 'customer.reset_password.title' | t }}</h1>
      <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
    </div>
    {% form 'reset_customer_password', class: 'account-form max-w-[450px] mx-auto text-base-body' %}
      {{ form.errors | default_errors }}
      <div class="mb-5">
        <label
          class="mb-1 inline-block"
          for="reset-password"
        >
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input
          type="password"
          id="reset-password"
          class="
            {% if form.errors contains 'password' %}input-error{% endif %}
            form-input
            h-form-element
            w-full
            rounded-form-element
            border-base-border
            bg-base-body-background
            text-body-medium
            placeholder:text-base-secondary
            autofill:shadow-inset-white
            focus:border-base-body
          "
          name="customer[password]"
          placeholder="{{ 'customer.reset_password.password' | t }}"
        >
      </div>
      <div class="mb-5">
        <label
          for="password-confirmation"
          class="mb-1 inline-block"
        >
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input
          type="password"
          id="password-confirmation"
          class="
            {% if form.errors contains 'password_confirmation' %}input-error{% endif %}
            form-input
            h-form-element
            w-full
            rounded-form-element
            border-base-border
            bg-base-body-background
            text-body-medium
            placeholder:text-base-secondary
            autofill:shadow-inset-white
            focus:border-base-body
          "
          name="customer[password_confirmation]"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
        >
      </div>
      {%
        render 'button',
        element: 'input',
        type: 'submit',
        class: 'w-full',
        size: 'md',
        color: 'primary',
        locales_text: 'customer.reset_password.submit'
      %}
    {% endform %}
  </div>
</section>
