<link
  rel="stylesheet"
  href="{{ 'splide-gallery.css' | asset_url }}"
  media="all"
  {% if section.settings.enable_lazyload %}
    fetchpriority="low"
  {% else %}
    fetchpriority="low"
  {% endif %}
>

<section
  id="image-carousel-{{ section.id }}"
  class="py-16 lg:py-30"
  data-section-type="image-carousel"
  data-section-id="{{ section.id }}"
>
  <div class="container max-w-screen-3xl">
    <div class="text-center">
      {%- if section.settings.subtitle != blank -%}
        <div class="
            mb-4
            text-caps-s
            uppercase
            last:mb-0
            md:mb-6
            lg:text-h6
          ">
          {{ section.settings.subtitle }}
        </div>
      {%- endif -%}

      {%- if section.settings.title != blank -%}
        <h2 class="
            mb-6
            font-heading
            text-h2
            last:mb-0
            md:mb-0
            lg:text-h1-desktop
          ">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}

      {%- if section.settings.text != blank -%}
        <div class="
            prose
            mb-6
            px-10
            text-body-xs
            last:mb-0
            md:mb-9
            md:hidden
          ">
          {{ section.settings.text }}
        </div>
      {%- endif -%}
    </div>
  </div>

  {% capture gallery_layout_1 %}
    <div class="overflow-hidden">
      <div class="mx-auto my-6 max-w-screen-3xl lg:mb-9 lg:mt-11">
        <div
          class="splide image-carousel-thumbnails"
          role="group"
          aria-label="Image carousel with thumbnails"
        >
          <div class="splide__track">
            <ul class="splide__list">
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-50
                    group-[&.is-active]/slide:w-50
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '148x148',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container max-w-screen-3xl">
        <div
          class="splide image-carousel mx-auto max-w-[648px] px-6"
          role="group"
          aria-label="Image carousel thumbnails"
        >
          <div class="
              splide__arrows
              hidden
              lg:pointer-events-none
              lg:absolute
              lg:-left-36
              lg:-right-36
              lg:top-10
              lg:z-3
              lg:flex
              lg:items-center
              lg:justify-between
            ">
            <button
              class="
                splide__arrow
                splide__arrow--prev
                group/button
                !bg-transparent
                text-june-dark
                !opacity-100
                hover:!bg-base-accent
                lg:pointer-events-auto
                lg:relative
                lg:!h-16
                lg:!w-16
              "
              aria-label="Previous slide"
            >
              {%
                render 'icon',
                icon: 'arrow-right-circle',
                class: '
                !fill-none
                !h-16
                !w-16
                transition-opacity
                duration-300
                ease-in-out
                group-hover/button:opacity-0
                group-focus/button:opacity-0
                '
              %}
              {%
                render 'icon',
                icon: 'arrow-right-circle-filled',
                class: '
                !fill-none
                lg:!h-17
                lg:!w-17
                absolute
                -left-[2px]
                -top-[2px]
                !opacity-0
                transition-opacity
                duration-300
                ease-in-out
                group-hover/button:!opacity-100
                group-focus/button:!opacity-100
                '
              %}
            </button>
            <button
              class="
                splide__arrow
                splide__arrow--next
                group/button
                !bg-transparent
                text-june-dark
                !opacity-100
                hover:!bg-base-accent
                lg:pointer-events-auto
                lg:relative
                lg:!h-16
                lg:!w-16
              "
              aria-label="Next slide"
            >
              {%
                render 'icon',
                icon: 'arrow-right-circle',
                class: '
                !fill-none
                lg:!h-16
                lg:!w-16
                transition-opacity
                duration-300
                ease-in-out
                group-hover/button:opacity-0
                group-focus/button:opacity-0
                '
              %}
              {%
                render 'icon',
                icon: 'arrow-right-circle-filled',
                class: '
                !fill-none
                lg:!h-17
                lg:!w-17
                absolute
                -left-[2px]
                -top-[2px]
                !opacity-0
                transition-opacity
                duration-300
                ease-in-out
                group-hover/button:!opacity-100
                group-focus/button:!opacity-100
                '
              %}
            </button>
          </div>

          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-1</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-2</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-3</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-4</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-5</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-6</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-7</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-8</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-9</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-10</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-11</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-12</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endcapture %}

  {% capture gallery_layout_2 %}
    <div class="overflow-hidden">
      <div class="mx-auto my-6 max-w-screen-3xl lg:mb-9 lg:mt-11">
        <div
          class="splide image-carousel-thumbnails"
          role="group"
          aria-label="Image carousel with thumbnails"
        >
          <div class="
              splide__arrows
              pointer-events-none
              absolute
              left-2
              right-2
              top-1/2
              z-3
              flex
              translate-y-[-50%]
              items-center
              justify-between
              max-[374px]:-left-1
              max-[374px]:-right-1
              md:hidden
            ">
            <button
              class="
                splide__arrow
                splide__arrow--prev
                group/button
                pointer-events-auto
                relative
                !h-12
                !w-12
                !bg-transparent
                text-june-dark
                !opacity-100
              "
              aria-label="Previous slide"
            >
              {%
                render 'icon',
                icon: 'arrow-right-circle',
                class: '!fill-none !h-12 !w-12'
              %}
            </button>
            <button
              class="
                splide__arrow
                splide__arrow--next
                group/button
                pointer-events-auto
                relative
                !h-12
                !w-12
                !bg-transparent
                text-june-dark
                !opacity-100
              "
              aria-label="Next slide"
            >
              {%
                render 'icon',
                icon: 'arrow-right-circle',
                class: '!fill-none !h-12 !w-12'
              %}
            </button>
          </div>

          <div class="splide__track">
            <ul class="splide__list">
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
              <li class="
                  splide__slide
                  group/slide
                  flex
                  items-center
                  justify-center
                  overflow-hidden
                  rounded-full
                  !border-none
                ">
                <div class="
                    h-25
                    w-25
                    rounded-full
                    border-solid
                    border-transparent
                    transition-[height,width,border-width]
                    duration-300
                    ease-in-out
                    group-[&.is-active]/slide:h-53
                    group-[&.is-active]/slide:w-53
                    group-[&.is-active]/slide:border-[10px]
                    group-[&.is-active]/slide:border-base-accent
                    group-[&.is-active]/slide:p-4
                    lg:h-40
                    lg:w-40
                    lg:group-[&.is-active]/slide:h-92
                    lg:group-[&.is-active]/slide:w-92
                    lg:group-[&.is-active]/slide:border-[16px]
                    lg:group-[&.is-active]/slide:p-4
                  ">
                  {%
                    render 'image',
                    asset_img_url: true,
                    class: 'object-cover w-full h-full rounded-full',
                    src: 'img-placeholder.png',
                    m: '158x158',
                    d: '276x276',
                    crop: 'center',
                    lazyload: true,
                    fetchpriority: 'low'
                  %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container max-w-screen-3xl">
        <div
          class="splide image-carousel mx-auto max-w-[648px] px-6"
          role="group"
          aria-label="Image carousel thumbnails"
        >
          <div class="
              splide__arrows
              hidden
              lg:pointer-events-none
              lg:absolute
              lg:-left-36
              lg:-right-36
              lg:top-10
              lg:z-3
              lg:flex
              lg:items-center
              lg:justify-between
            ">
            <button
              class="
                splide__arrow
                splide__arrow--prev
                group/button
                !bg-transparent
                text-june-dark
                !opacity-100
                hover:!bg-base-accent
                lg:pointer-events-auto
                lg:relative
                lg:!h-16
                lg:!w-16
              "
              aria-label="Previous slide"
            >
              {%
                render 'icon',
                icon: 'arrow-right-circle',
                class: '
                !fill-none
                !h-16
                !w-16
                transition-opacity
                duration-300
                ease-in-out
                group-hover/button:opacity-0
                group-focus/button:opacity-0
                '
              %}
              {%
                render 'icon',
                icon: 'arrow-right-circle-filled',
                class: '
                !fill-none
                lg:!h-17
                lg:!w-17
                absolute
                -left-[2px]
                -top-[2px]
                !opacity-0
                transition-opacity
                duration-300
                ease-in-out
                group-hover/button:!opacity-100
                group-focus/button:!opacity-100
                '
              %}
            </button>
            <button
              class="
                splide__arrow
                splide__arrow--next
                group/button
                !bg-transparent
                text-june-dark
                !opacity-100
                hover:!bg-base-accent
                lg:pointer-events-auto
                lg:relative
                lg:!h-16
                lg:!w-16
              "
              aria-label="Next slide"
            >
              {%
                render 'icon',
                icon: 'arrow-right-circle',
                class: '
                !fill-none
                lg:!h-16
                lg:!w-16
                transition-opacity
                duration-300
                ease-in-out
                group-hover/button:opacity-0
                group-focus/button:opacity-0
                '
              %}
              {%
                render 'icon',
                icon: 'arrow-right-circle-filled',
                class: '
                !fill-none
                lg:!h-17
                lg:!w-17
                absolute
                -left-[2px]
                -top-[2px]
                !opacity-0
                transition-opacity
                duration-300
                ease-in-out
                group-hover/button:!opacity-100
                group-focus/button:!opacity-100
                '
              %}
            </button>
          </div>

          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-1</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-2</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-3</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-4</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-5</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-6</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-7</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-8</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-9</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-10</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-11</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
              <li class="splide__slide">
                <div class="text-center">
                  <h3 class="mb-6 font-heading text-h4 lg:text-h4-desktop">Lactobacillus acidophilus DDS-12</h3>
                  <div class="prose mb-6 text-body-xs lg:text-body-small">
                    <p>
                      L acidophilus is a widely studied infant formula shown to relieve constipation, mitigate irritable
                      bowel syndrome (IBS), alleviate diarrhea and relieve constipation.
                    </p>
                  </div>
                </div>

                <div class="
                    prose
                    grid
                    gap-2
                    border-t
                    border-black
                    pt-4
                    text-[12px]
                    leading-3
                    [&_p]:mb-0
                  ">
                  <p>
                    [1] Intervention study of Lactobacillus rhamnosus LRa05 in improving acute watery diarrhea in
                    children
                  </p>
                  <p>[2] sourcehkshdfkjashdfkjhasdkfj.com</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endcapture %}

  {% if section.settings.gallery_layout == 'gallery_layout_1' %}
    {{ gallery_layout_1 }}
  {% else %}
    {{ gallery_layout_2 }}
  {% endif %}
</section>
